body{
    background-color:#bbbfc2;
}


/*container*/
.container{
   
   background-color: white; 
     margin: 28px;
margin-top: 0px;
    border: 1px solid white;
    height: 1500px;
}

/*header*/
.back{

    background-image: url(../assets/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  height: 400px;
    background-attachment:inherit;
    
}
.logo{
    width: 70px;
    height: 50px;
    background: red;
    float:right;
   
}


h1{
    font-size: 20px;
     float: right;
    color: white;
    margin-right: 70px;
}
h1 .one{
    font-size: 32px;

}

strong{
    margin-top: 15px;
    font-size: 48px;
}

strong span{
    float: right;
}
/*main*/
.main{
    margin-top: 60px;
    margin-left: -37px;
}


/*side nav*/
.side-nav{
    


}
nav ul{
     
}


/*main content*/


h2{
    font-size: 25px;
    display: inline;
}

    
}

.columns div{
    
}
.side-nav ul{
    background-color: dimgrey;
    height: 60px;
    

    
}

.side-nav a{
    margin-left:40%;
 padding-top: 10px;
}
.side-nav img{
    margin-left: 15%;
}