body{
    background-color:#bbbfc2;
}




/**/


/*container*/
.container{
   
   background-color: #fff; 
     margin: 28px;
margin-top: 0px;
    border: 1px solid white;
    height: 1300px;
}

/*header*/
.back{

    background-image: url(../assets/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  height: 400px;
    background-attachment:inherit;
    
}
.logo{
    width: 70px;
    height: 50px;
    background: red;
    float:right;
   
}


h1{
    font-size: 20px;
     float: right;
    color: white;
    margin-right: 70px;
    display: inherit;
}
h1 #one{
    font-size: 32px;

}
    
h1 #two{
    margin-top: -10px;
}

strong{
    margin-top: 15px;
    font-size: 48px;
}

strong span{
    float: right;
}
/*main*/
.main{
    margin-top: 60px;
   margin-left: -16px;
}


/*side nav*/
.side-nav{
    padding-top: 20px;

    height: 940px;

}
.side-nav #active{
     background-color: white;
}


/*main content*/
.para div{
    margin-bottom: 24px; 
}

h2{
    font-size: 30px;
    
    display:inline-block;
    margin-left: 
     
}

.para p,.para .c{
   margin-left: 70px;
/*    margin-right: 70px;*/
}   
.para #b{
  display: inherit;
    font-size: 18px;

}
.para img{
margin-top: -40px;
    margin-left: 60px;
    margin-right: 30px;
}

/*side nav*/


.side-nav ul{
    margin-left: -1px;
    height: 60px;
    border-bottom: 1px solid white;
    background-color: #9ba0a4;
    margin-top: -15px;

    
}

.side-nav a{
    margin-left:40%;
margin-top: 50%;
}
.side-nav img{
    margin-left: 15%;
}


.side-nav .blank{
   border-bottom: 1px solid #9ba0a4;
    height: 408px;

}


/*fonts*/

h1 strong{
font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}
side-nav a{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: 9ba0a4;
}

h2 #a, #active{
    font-family: 'Open Sans', sans-serif;
    font-weight:600;
    color: #36abe1;
}
h1 #one ,h2 #b{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
.
